.sloupce3 {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: [first] 40px [line2] auto [line3] 40px [end];
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .s1_3 { grid-area: 1 / 1 / 2 / 2; }
    .s2_3 { grid-area: 1 / 2 / 2 / 3; }
    .s3_3 { grid-area: 1 / 3 / 2 / 4; }

/*
.s1_3 {
    background-color: hotpink;
}

.s2_3 {
    background-color: khaki;
}

.s3_3 {
    background-color: blue;
}
*/